.row .inactive-file-label {
  background-color: #e9ecef;
}
.row .custom-file-label {
  left: 1pc;
  right: 1pc;
}

.row .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #6c757d;
  border-bottom: 5px solid #6c757d;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
