.tasklocation-item {
  border: 1px solid #ccc;
  padding: 25px 25px 8px 25px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
}

.tasklocation-item .add-location {
  vertical-align: text-top;
}

.tasklocation-item .time-picker {
  padding: 8px 14px;
}

.tasklocation-item .form-group div.col-md-8 .pt-3 .px-3 .form-group div.col-sm-1,
.tasklocation-item .form-group div.col-md-8 .pt-3 .px-3 .form-group div.col-sm-3,
.tasklocation-item .form-group div.col-md-8 .pt-3 .px-3 .form-group div.col-sm-4 {
  width: 300px;
  position: relative;
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-1
    input[name='repeat.yearly.mode'] {
    margin-left: -77px;
    margin-top: -6px;
    position: absolute;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-1
    input[name='repeat.monthly.mode'] {
    margin-left: -77px;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    select[name='repeat.monthly.onThe.day'] {
    width: 160px;
    margin-left: 45px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.monthly.onThe.which'] {
    margin-left: -1px;
    width: 100px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    select[name='end.mode'] {
    width: 120px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    input[name='end.onDate.date'] {
    width: 120px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.yearly.onThe.month'] {
    width: 90px;
    position: relative;
    left: 156%;
    margin-top: 15px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    select[name='repeat.yearly.onThe.day'] {
    width: 150px;
    margin-left: 45px;
    position: relative;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.yearly.onThe.which'] {
    width: 100px;
    margin: -3px;
    position: relative;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    input[name='repeat.monthly.interval'] {
    margin-left: -11px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.monthly.on.day'] {
    width: 100px;
    margin-left: -4px;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.yearly.on.month'] {
    margin-left: 3px;
    width: 80px;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name='repeat.yearly.on.day'] {
    width: 100px;
    margin-left: 33px;
    position: relative;
  }

  .tasklocation-item .form-group div.col-md-8 .pt-3 .px-3 .opacity-50 div.col-sm-1:nth-child(2) {
    position: relative;
  }

  .tasklocation-item .form-group div.col-md-8 .pt-3 .px-3 .form-group div.col-sm-1:nth-child(2) {
    margin-left: -90px;
  }
}

.tasklocation-item
  .form-group
  div.col-md-8
  .pt-3
  .px-3
  .form-group
  div.col-sm-4
  div.form-group.m-0 {
  flex: auto;
  width: 240px;
}
.locationClose {
  top: 7px;
  right: 7px;
}

p.text-center {
  margin: 13px 0;
}
label[for^='Repeat weekly on'] {
  z-index: 0 !important;
}
