.tasklocation-item {
  border: 1px solid #ccc;
  padding: 25px 25px 8px 25px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.66);
}

.tasklocation-item .add-location {
  vertical-align: text-top;
}

.tasklocation-item .time-picker {
  padding: 8px 14px;
}

.tasklocation-item
  .form-group
  div.col-md-8
  .pt-3
  .px-3
  .form-group
  div.col-sm-1,
.tasklocation-item
  .form-group
  div.col-md-8
  .pt-3
  .px-3
  .form-group
  div.col-sm-3,
.tasklocation-item
  .form-group
  div.col-md-8
  .pt-3
  .px-3
  .form-group
  div.col-sm-4 {
  width: 300px;
  position: relative;
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name="repeat.yearly.on.month"] {
    width: 150%;
    position: relative;
    display: block;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name="repeat.yearly.on.day"] {
    width: 200%;
    margin-left: 30px;
    position: relative;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name="repeat.yearly.onThe.which"] {
    width: 160%;
    margin: -3px;
    position: relative;
  }
  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-3
    select[name="repeat.yearly.onThe.day"] {
    width: 115%;
    margin-left: 26px;
    position: relative;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-1 {
    margin-left: 20px;
    position: relative;
  }

  .tasklocation-item
    .form-group
    div.col-md-8
    .pt-3
    .px-3
    .form-group
    div.col-sm-2
    select[name="repeat.yearly.onThe.month"] {
    width: 155%;
    position: relative;
  }
}

.tasklocation-item
  .form-group
  div.col-md-8
  .pt-3
  .px-3
  .form-group
  div.col-sm-4
  div.form-group.m-0 {
  flex: auto;
  width: 240px;
}
.locationClose {
  top: 7px;
  right: 7px;
}

p.text-center {
  margin: 13px 0;
}
