@import 'variables.scss';

.detail-page-title {
  min-width: 150px;
  background-color: #f4f4f4;
}

.kaznet-detail-title {
  color: #464646;
  font-weight: bold;
  font-size: 2em;
  padding-top: 35px;
}

.kaznet-header-link:hover {
  text-decoration: none;
}

.kaznet-header-link {
  color: $primary-color;
}

.kaznet-badge {
  margin-left: 15px;
  font-weight: 100 !important;
  font-size: 20px !important;
  position: absolute;
}

.kaznet-creation-detail {
  opacity: 0.5;
}

.kaznet-action-links {
  color: $primary-color;
  padding-bottom: 10px;
  font-weight: bold;
}

.archive-button {
  color: #979797;
  position: absolute;
  right: 0px;
}

.archive-button:hover {
  text-decoration: none;
  color: #8c8c8c;
}

.action-link-divider {
  margin-left: 17px;
  margin-right: 17px;
}

.action-link,
.action-link.remove_button_css {
  font-weight: 600;
}

.action-link-alert,
.action-link.remove_button_css {
  color: #ac451e;
}

.withspace {
  margin-right: 10px;
}
