.btn.white,
.btn.white:hover,
.btn.white:focus {
  background: #ffffff;
}

.async-select-container.is-invalid .invalid-feedback {
  display: block;
}

.async-select-container.is-invalid .async-select > div {
  border-color: red;
}

.clickable-icon {
  cursor: pointer;
}
