@import 'variables.scss';

/** Global Stuff **/
.kaznet-root {
  max-width: 1470px;
  margin: 0 auto;
}

.bg-dark {
  background-color: #3e3e3e !important;
}

.bg-white {
  background-color: #ffffff !important;
}

a,
.page-link {
  color: $primary-color;
}

a:hover,
a:focus,
.page-link:hover,
.page-link:focus {
  color: $secondary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

/** Navigation **/
.navbar {
  height: 100px;
  padding: 0.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 5px solid #cccccc;
}

.nav-link.active {
  border-bottom: 1px solid;
}

.navbar-brand {
  font-size: 1.7rem;
}

.userprofile-img {
  width: 60px;
}

.navbar-light .navbar-brand.logo {
  color: $primary-color;
}

/** page title **/

.page-title {
  min-height: 215px;
  background-color: #f4f4f4;
}

.page-title h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.search-group .input-group-text {
  color: #cccccc;
  font-weight: 600;
  font-size: 1.5rem;
}

/** Content **/
.kaznet-table th {
  background-color: #e6e6e6;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.remove_button_css {
  outline: none;
  padding: 0px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.remove_button_css:focus,
.remove_button_css:hover {
  color: #007bff;
  text-decoration: underline;
}

/** Media Queries **/
@media (min-width: 768px) {
  .navbar-collapse {
    margin-left: 50px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
  }
}
